@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url("../assets/paisagem.jpg");
  color: #fff;
  object-fit: cover;
  background: linear-gradient(90deg, #169976, #1dcd9f, #169976);
}

.cabecalho {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 8px 40px;
  background-color: #222222;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.logo {
  font-size: 1.75em;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 60px;
}

.cabecalho nav ul {
  display: flex;
  gap: 50px;
  list-style: none;
}

.cabecalho nav ul a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.cabecalho nav ul a:hover {
  color: #ccc;
  text-decoration: underline;
}

.titulo-pagina {
  margin: 20px 40px;
  display: flex;
  justify-content: space-between;
}

.titulo-pagina div {
  font-size: 16px;
}

.container-conteudo {
  min-height: 80svh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#carros-home {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

#banner-imagens {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

#image,
#image2,
#image3 {
  width: 600px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: transform 0.3s ease;
}

#image:hover,
#image2:hover,
#image3:hover {
  transform: translateY(-10px);
}

#carros-home p {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 600;
}

.rodape {
  background-color: #222222;
  color: #fff;
  padding: 40px;
}

#container-sobre {
  background-color: #222222;
  padding: 40px;
  border-radius: 10px;
  color: #fff;
  width: 800px;
  display: flex;
  gap: 20px;
  transition: transform 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

#container-sobre:hover {
  transform: translateY(-10px);
}

#imagem-loja {
  width: 300px;
  border-radius: 10px;
  height: 300px;
  object-fit: cover;
}

#sobre-texto {
  display: flex;
  flex-direction: column;
  gap: 10px;
  line-height: 1.6;
}

#carros-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background-color: #222222;
  padding: 40px;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 400px;
  height: 500px;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  width: 250px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

#carros-cards button {
  padding: 10px;
  background-color: #169976;
  border: none;
  color: #fff;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#carros-cards button:hover {
  background-color: #1dcd9f;
}

#carros-cards button a {
  text-decoration: none;
  color: #fff;
}

#quiz {
  background-color: #222222;
  padding: 40px 80px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#quiz button {
  padding: 8px 15px;
  background-color: #169976;
  border: none;
  color: #fff;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#quiz button:hover {
  background-color: #1dcd9f;
}

.perguntas {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#container-respostas input {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: none;
}

.resultado {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#lista-resultado {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  overflow-y: scroll;
  max-height: 300px;
}

.hidden {
  display: none;
}
