* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.cabecalho {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 8px 15px;
  background-color: #222222;
  color: #fff;
}

.logo {
  font-size: 1.75em;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 60px;
}

.cabecalho nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.cabecalho nav ul a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.cabecalho nav ul a:hover {
  color: #ccc;
  text-decoration: underline;
}

.container-conteudo {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rodape {
  background-color: #222222;
  color: #fff;
  padding: 15px;
}

#container-sobre {
  background-color: #222222;
  padding: 40px;
  border-radius: 10px;
  color: #fff;
  width: 60%;
  display: flex;
  gap: 20px;
  transition: transform 0.3s ease;
}

#container-sobre:hover {
  transform: translateY(-10px);
}

#imagem-loja {
  width: 300px;
  border-radius: 10px;
  height: 300px;
  object-fit: cover;
}

#sobre-texto {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
